<!--body

{

	margin: 0;

	padding: 0;

	color: #555;

	font: normal 10pt Arial,Helvetica,sans-serif;

	background: #EFEFEF;

}-->



#page

{

	margin-bottom: 5px;

	background: white;

	border: 0px solid #CCCCCC;

	

}



#topnav

{

	margin: 0;

	padding: 5px;

	background-color:#000000;

	color:#FFFF;

	text-align:right;

}



.topnav_text a

{

	color: #FFFFFF!important;

	font: normal 8pt Arial,Helvetica,sans-serif;

	text-decoration:underline;

}





#header

{

	margin: 0;

	padding: 0;

	border-top: 1px solid #CCCCCC;

	background-color:#333333;

}



#content

{

	padding: 20px;

	background-color: #FFF;

}



#sidebar

{

	padding: 20px 20px 20px 0;

}







#logo

{

	padding: 10px 20px;

}



#mainmenu

{

	/*background:white url(bg.gif) repeat-x left top;background-image:url(http://inventory.simpson.com/dashboard-download/images/el_bg.png);*/

	

	background-color:#333333;

	height: 32px;

	width:100%;

	 background-image:url(../images/gbg.png) !important;

  



}



#mainmenu ul

{

	padding:6px 20px 5px 20px;

	margin:0px;


}



#mainmenu ul li

{

	display: inline;
	
  background-attachment:initial;

  background-clip:initial;

  background-color:#333333;

  background-image:url(../images/el_bg.png);

  background-origin:initial;

  background-position:0 0;

  background-repeat:repeat no-repeat;

  border-bottom-color:initial;

  border-bottom-style:none;

  border-bottom-width:initial;

  border-image:initial;

  border-left-color:#222222;

  border-left-style:solid;

  border-left-width:1px;

  border-right-color:#222222;

  border-right-style:solid;

  border-right-width:1px;

  border-top-color:#222222;

  border-top-style:solid;

  border-top-width:1px;

  float:left;

  list-style-type:none;

  margin-bottom:0;

  margin-left:0.1em;

  margin-right:0.1em;

  margin-top:0;

  position:relative;

  padding-left:20px;

  padding-right:20px;

  height:35px;
  

}



#mainmenu ul li.active

{

  display: inline;

  background-attachment:initial;

  background-clip:initial;

  background-color:#F1F1F1;

  background-image:none;

}



#mainmenu ul li.active a

{

  color:#333333!important;

}



#mainmenu ul li a

{

	color:#ffffff;

	background-color:transparent;

	font-size:12px;

	font-weight:bold;

	text-decoration:none;

	display:block;

	height:35px;

	padding-top:10px;



}



#mainmenu ul li a:hover, #mainmenu ul li.active a

{

	color: #cccc;

}

.infoBar {

  border: solid 1px #CCCCCC;

  background-color:#F9F9F9;

  margin-bottom:10px;

  padding:10px;

  width:690px;

}



.dashboardIcons {

  overflow-x:hidden;

  overflow-y:hidden;

}

.dashIcon {

  float:left;

  /*padding-left:4px;width:123px;*/

  border: solid 1px #CCCCCC;	

  background-color:#F9F9F9;

  padding-top:8px;

  margin-bottom:10px;

  text-align:center;

  

}



.dashIconText{

	padding-top:5px;

	padding-bottom:10px;

	

}

div.flash-error, div.flash-notice, div.flash-success

{

	padding:.8em;

	margin-bottom:1em;

	border:1px solid #ddd;

    padding-left:2.5em;

    

}



div.flash-error

{

	color:#8a1f11;

	border-color:#FBC2C4;

    background: url(../images/exclamation.png) left center no-repeat #FBE3E4;

    background-position: 10px 10px;

    

}




div.flash-notice

{

	color:#514721;

	border-color:#FFD324;

    background: url(../images/information.png) left center no-repeat #FFF6BF;

    background-position: 10px 10px;

}



div.flash-success

{

	color:#264409;

	border-color:#C6D880;

    background: url(../images/tick.png) left center no-repeat #E6EFC2;

    background-position: 10px 10px;

}



div.flash-error a

{

	color:#8a1f11;

}



div.flash-notice a

{

	color:#514721;

}



div.flash-success a

{

	color:#264409;

}



div.form .rememberMe label

{

	display: inline;

}

div.view

{

	padding: 10px;

	margin: 0 0 10px 0;

	border: 1px solid #CCCCCC;

	background-color:#F9F9F9;

}



div.breadcrumbs

{

	font-size: 0.9em;

	padding: 15px 20px 15px 20px ;

	border-bottom: 1px solid #CCCCCC;

}



.breadcrumbs

{

	

  background-color:#F1F1F1;



}



div.breadcrumbs span

{

	font-weight: bold;

}



div.search-form

{

	padding: 10px;

	margin: 10px 0;

	background: #eee;

}



.portlet

{

 border: 1px solid #ccc;

 background:#F9F9F9;



 margin-bottom:10px;

 border-top-left-radius: .5em;

	border-top-right-radius: .5em;

	border-bottom-left-radius: .5em;

	border-bottom-right-radius: .5em;

}



.portlet-decoration

{

	padding: 0px 0px;

	background-color: #333;

    background: url("../images/el_bg.png") repeat-x;

}



.portlet-title

{



	padding: 0;

	margin: 0;	

	font-size: 13px;

	font-weight: bold;

	text-align: left;

	padding-bottom:10px;

	padding-top: 10px ;

	padding-left: -2px !important;

	margin-left:0px;

	border:thin;

	border-top-left-radius: .5em;

	border-top-right-radius: .5em;

 color:#FFF;

 background-image:url(../images/gbg.png) !important;

	

}



.portlet-content

{

	font-size:0.9em;

	margin: 0 0 15px 0;

	padding: 5px 8px;

	background:#F9F9F9;

}



.portlet-content ul

{

	list-style-image:none;

	list-style-position:outside;

	list-style-type:none;

	margin: 0;

	padding: 0;

}



.portlet-content li

{

	padding: 2px 0 4px 0px;

	color: #000;

	border-bottom-color:#CCCCCC;

  border-bottom-style:dotted;

  border-bottom-width:1px;

}



.portlet-content li a

{

	color: #000!important;

	text-decoration:underline!important;

}



.portlet table th {

	background-color: #333;

	border-bottom: 1px solid #ccc;

	color:#FFF;

}

.portlet table td {

	border-bottom: 1px solid #ccc;

}



.operations

{

	list-style-type: none;

	margin: 0;

	padding: 0;

}



.operations li

{

	padding-bottom: 2px;

}



.operations li a

{

	font: bold 12px Arial;

	color: #0066A4;

	display: block;

	padding: 2px 0 2px 8px;

	line-height: 15px;

	text-decoration: none;

}



.operations li a:visited

{

	color: #0066A4;

}



.operations li a:hover

{

	background: #EFEFEF;

	

}



.dashbox{



	border: solid 1px #d5dae0;

  	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	border-radius: 10px;	

	

  background-color:#FFFF;

  background-position:50% 0;

  background-repeat:no-repeat no-repeat;

  margin-bottom:10px;

  overflow-x:hidden;

  overflow-y:hidden;

  width:910px;



}





.infoColumn, .infoColumnUp, .infoColumnDown, .infoColumnSame

{

	float: left;

	width: 162px;

	height: 70px;

	background-image: url("../images/ws_sep.png");

	background-position: center right;

	background-repeat: no-repeat;

	padding: 12px 0px;

	margin: 0px 10px;

	position: relative;

	text-align: center!important;;

}



.infoColumnIcon

{

	position: absolute;

	top: 16px;

	left: 0px;

}



.infoColumnNumber

{

	position: absolute;

	top: 23px;

	left: 48px;

	line-height: 24px;

	height: 24px;

	font-size: 18px;

	font-weight: bold;

	letter-spacing: 2px;

	padding-left: 10px;

}



.infoColumnUp .infoColumnNumber

{

	color: #4e7310;

	background-image: url("../images/quick_info_up_left.png");

	background-position: top left;

	background-repeat: no-repeat;

}



.infoColumnUp .infoColumnNumberBg

{

	background-image: url("../images/quick_info_up_right.png");

	background-position: top right;

	background-repeat: no-repeat;

	padding-right: 8px;

}



.infoColumnDown .infoColumnNumber

{

	color: #870812;

	background-image: url("../images/quick_info_down_left.png");

	background-position: top left;

	background-repeat: no-repeat;

}



.infoColumnDown .infoColumnNumberBg

{

	background-image: url("../images/quick_info_down_right.png");

	background-position: top right;

	background-repeat: no-repeat;

	padding-right: 8px;

}



.infoColumnSame .infoColumnNumber

{

	color: #333;

	background-image: url("../images/quick_info_same_left.png");

	background-position: top left;

	background-repeat: no-repeat;

}



.infoColumnSame .infoColumnNumberBg

{

	background-image: url("../images/quick_info_same_right.png");

	background-position: top right;

	background-repeat: no-repeat;

	padding-right: 8px;

}



.infoColumn p, .infoColumnUp p, .infoColumnDown p, .infoColumnSame p

{

	position: absolute;

	top: 50px;

	left: 0px;

	font-size: 12px;

	font-weight: bold;

	text-align: center!important;

}



.infoColumn div

{

	font-size: 24px;

	font-weight: bold;

}



.infoColumn p

{

	color: #666;

}



.infoColumnUp p

{

	color: #4e7310;

	text-align:center!important;

}



.infoColumnDown p

{

	color: #870812;

}



.infoColumnSame p

{

	color: #333;

}

.last {

  background-attachment:initial;

  background-clip:initial;

  background-color:initial;

  background-image:none;

  background-origin:initial;

  background-position:initial initial;

  background-repeat:initial initial;

}



.cal_theme .fc-grid thead th{

	background-color:#333333!important;

	background:url(../images/el_bg.png) repeat-x;

	color: #FFFFFF!important;

	height:35px;

	vertical-align:middle;

	

}

.fc-event, .fc-agenda .fc-event-time, .fc-event a , .fc-event a span{

  background-color:#3333!important;

  border:#3333 solid 1px!important;

  color:#FFFFFF;

}

.pager-class{

	text-align:center;

	

}



.pager-class ul.yiiPager

{

	font-size:11px;

	border:0;

	margin:0;

	padding:0;

	line-height:100%;

	display:inline;

}



.pager-class ul.yiiPager li

{

	display:inline;

}



.pager-class ul.yiiPager a:link,

ul.yiiPager a:visited

{

	border:solid 1px #CCCCCC;

	font-weight:bold;

	color:#333333;

	padding:1px 6px;

	text-decoration:none;

}



.pager-class ul.yiiPager .page a

{

	font-weight:normal;

	padding:5px 10px 5px 10px;

}



.pager-class ul.yiiPager .next a, .pager-class ul.yiiPager .previous a

{

	font-weight:normal;

	padding:5px 10px 5px 10px;

}



.pager-class ul.yiiPager a:hover

{

	border:solid 1px #3333;

}



.pager-class ul.yiiPager .selected a

{

	background:#333333;

	border:solid 1px #3333;

	color:#FFFFFF;

	font-weight:bold;

}



.pager-class ul.yiiPager .hidden a

{

	border:solid 1px #cccc;

	color:#888888;

}



/**

 * Hide first and last buttons by default.

 */

.pager-class ul.yiiPager .first,

.pager-class ul.yiiPager .last

{

	display:none;

}



.button {

    

    padding: 5px 10px 5px 10px;

	min-width: 100px;

	min-height:40px;

    -moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;	

    cursor: pointer;

	color:#FFF!important;

	text-shadow:black 0.1em 0.1em 0.2em;

}



.icon {

  background-position:0 -14px;

  padding-left:24px;

}

	

.button_list{

    width: 100%;}

	

.button_list ul{

    margin-bottom: 10px; padding: 0;
	
    float: left;}

 

.button_list ul li{

    display: inline;
	

	}

 

.button_list ul li a{

    float: left; text-decoration: none;

    color: white!important;

	text-decoration:none!important;

    padding: 10.5px 11px;

	margin-right:5px;

	margin-bottom:5px;

	border:solid 1px #CCC;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;	

	text-shadow:black 0.1em 0.1em 0.2em;

	}

 

.button_list ul li a:visited{

    color: white;}

 

.button_list ul li a:hover, .button_list ul li .current{

    color: #fff;

    background-color:#0b75b2;}



.green{

    background:url(../images/background_green.gif) repeat-x;

    border: solid 1px #cccccc;

    color: #ffffff;

}



.red{

    background:url(../images/background_red.png) repeat-x;

    border: solid 1px #cccccc;

    color: #ffffff;

}



.blue{

    background:url(../images/background_blue.gif) repeat-x;

    border: solid 1px #cccccc;

    color: #ffffff;

}



.yellow{

    background:url(../images/background_yellow.gif) repeat-x;

    border: solid 1px #cccccc;

    color: #ffffff;

}



.grey{

    background:url(../images/background_grey.gif) repeat-x;
    border: solid 1px #cccccc;
    color: #ffffff;
}



/*Error Pages*/

.error_header{

	font-size:65px;

	font-family:Verdana, Geneva, sans-serif;

	text-transform:uppercase;

	text-align:center;

	color:#333333;

	text-shadow:#CCC 0.1em 0.1em 0.1em;

}



.error_message{

	font-size:16px;

	font-family:Verdana, Geneva, sans-serif;

	text-align:center;

	color:#F00;

	text-shadow:#CCC 0.1em 0.1em 0.1em;

}



.mcelegend{

background:white url(../images/background_grey.gif) repeat-x left top;

color:#fff; font:17px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:0px 0 0 0px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;

	}

	

div.loading {

	float:left;

	margin:24px 0 0 10px;

    height: 16px; 

    width: 16px;

    background-color: #fff;

    background-image: url('indicator.gif');

    background-position:  center center;

    background-repeat: no-repeat;

    opacity: 1;

}

div.loading * {

    opacity: 0.8;

}





/* Faisal code */



.myclass{	

	/* background-image: url(<?php //echo yii::app()->baseUrl; ?>/images/netvibes.png) !important;	

	background-repeat:no-repeat !important;

	background-position:center !important;

	height:60px;

	width:60px; */

	opacity: 0.6;

	height:40px;

	width:40px;

}

.myclass:hover{	

	opacity: 1.0;

}



.mytbl{

	height:40px !important;

	width:100% !important;

	margin:0px !important;

	

}

<style>

.footer{

	width:960px; height:auto; border-radius:2px 2px 2px 2px; background-color:#36C;}

</style>

<!---Muntazir Stylesheet------->















